*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* MAIN SECTION STYLING */
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #2751d0, #8ef1ff);

}
/* NAVIGATION SECTION STYLING */
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
nav.anim{
    animation-delay: 0.1s;
}
.logo{
    flex-basis: 20%;
}
.logo a{
    width: auto;
    color: #2751d0;
    font-weight: 700;
    font-family: cursive;
    text-decoration: none;
    font-size: 18px;
}
.logo a::first-letter{
    font-size: 30px;
    color: red;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #01289e;
    font-weight: 500;
    font-family: cursive;
    text-decoration: none;
}
/* FEATURE SECTION STYLING */
.feature{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);

}
.feature-img.anim{
    animation-delay:0.2s;
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate( 0deg);
    transition: 1s;
    /* background-color: #ccc; */
}
.card img{
    width: 60px;
}
.card{
    position: absolute;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 350px;
}
.card div{
    /* margin-left: 30px; */
}
.card div h1{
    font-size: 32px;
    font-family: cursive;
    animation-delay:0.3s;
}
.card div p{
    margin-top: 15px;
    animation-delay:0.35s;
}
.one{
    top: 400px;
    right: -50px;
}
.two{
    top: 0px;
    left: 350px;
    transform: rotate(-90deg);
}
.three{
    top: 375px;
    left: -50px;

    transform: rotate(180deg);
}
.four{
    bottom: -25px;
    right: 360px;

    transform: rotate(90deg);
}
.feature-img{
    width: 420px;
    position: absolute;
    top: 28%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 99;
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
.controls.anim{
    animation-delay:0.5s;
}
#upBtn,
#downBtn{
    width: 15px;
    cursor: pointer;
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    transition: 0.3s ease-in;
}
#upBtn:hover{
    transform: translateY(-10px);
}
#downBtn:hover{
    transform: translateY(10px);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
/* ANIMATION EFFECT */
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}